# R / RStudio
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# Modelos pesados / binarios
*.rds
*.RDS
*.rda
*.h5
*.hdf5
*.xgb
*.ubj

# Resultados generados pesados
resultados_server/
resultados_server.zip
resultados_server*.zip

outputs/
results/
modelos/
models/
logs/
figures/
plots/

# Logs y temporales
*.log
*.tmp
*.bak
*.csv~
*.xlsx~

# Comprimidos
*.zip
*.tar
*.tar.gz
*.7z

# Sistema
.DS_Store
Thumbs.db
.positai